{{- if .Values.containerLogs.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-windows-config
  namespace: {{ .Release.Namespace }}
  labels:
    k8s-app: fluent-bit
data:
  fluent-bit.conf: |
    {{- include "fluent-bit.add-ipv6-preference" (dict "config" .Values.containerLogs.fluentBit.configWindows.service "useDualstackEndpoint" .Values.useDualstackEndpoint "indent" "  ") | nindent 4 }}
    {{- range $key, $val := .Values.containerLogs.fluentBit.configWindows.extraFiles }}
    @INCLUDE {{ $key }}
    {{- end }}
  parsers.conf: |
    {{- .Values.containerLogs.fluentBit.configWindows.customParsers  | nindent 4 }}
  {{- range $key, $val := .Values.containerLogs.fluentBit.configWindows.extraFiles }}
  {{ $key }}: |
    {{- include "fluent-bit.add-dualstack-endpoints" (dict "Values" $.Values "config" (tpl $val $)) | nindent 4 }}
  {{- end -}}
{{- end -}}