{{- if .Values.containerLogs.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: {{ .Release.Namespace }}
  labels:
    k8s-app: fluent-bit
data:
  fluent-bit.conf: |
    {{- if .Values.useDualstackEndpoint }}
    {{- .Values.containerLogs.fluentBit.config.service | replace "Parsers_File              parsers.conf" (printf "Parsers_File              parsers.conf\n  net.dns.prefer_ipv6       true") | nindent 4 }}
    {{- else }}
    {{- .Values.containerLogs.fluentBit.config.service  | nindent 4 }}
    {{- end }}
    {{- range $key, $val := .Values.containerLogs.fluentBit.config.extraFiles }}
    @INCLUDE {{ $key }}
    {{- end }}
  parsers.conf: |
    {{- .Values.containerLogs.fluentBit.config.customParsers  | nindent 4 }}
{{- if hasPrefix "us-iso-" .Values.region }}
  {{- range $key, $val := .Values.containerLogs.fluentBit.config.adcIsoExtraFiles }}
  {{ $key }}: |
    {{- include "fluent-bit.add-dualstack-endpoints" (dict "Values" $.Values "config" (tpl $val $)) | nindent 4 }}
  {{- end -}}
{{- else if hasPrefix "us-isob-" .Values.region }}
  {{- range $key, $val := .Values.containerLogs.fluentBit.config.adcIsobExtraFiles }}
  {{ $key }}: |
    {{- include "fluent-bit.add-dualstack-endpoints" (dict "Values" $.Values "config" (tpl $val $)) | nindent 4 }}
  {{- end -}}
{{- else if hasPrefix "us-isof-" .Values.region }}
  {{- range $key, $val := .Values.containerLogs.fluentBit.config.adcIsofExtraFiles }}
  {{ $key }}: |
    {{- include "fluent-bit.add-dualstack-endpoints" (dict "Values" $.Values "config" (tpl $val $)) | nindent 4 }}
  {{- end -}}
{{- else if hasPrefix "eu-isoe-" .Values.region }}
  {{- range $key, $val := .Values.containerLogs.fluentBit.config.euAdcIsoeExtraFiles }}
  {{ $key }}: |
    {{- include "fluent-bit.add-dualstack-endpoints" (dict "Values" $.Values "config" (tpl $val $)) | nindent 4 }}
  {{- end -}}
{{- else }}
  {{- range $key, $val := .Values.containerLogs.fluentBit.config.extraFiles }}
  {{ $key }}: |
    {{- include "fluent-bit.add-dualstack-endpoints" (dict "Values" $.Values "config" (tpl $val $)) | nindent 4 }}
  {{- end -}}
{{- end -}}
{{- end -}}